@model LoginModel

@{
    Layout = "_LayoutOFF";
    ViewData["Title"] = "Login";
}

@if(TempData["MensagemErro"] != null){
    <div class="alert alert-danger" role="alert">
        <button type="button" class="btn btn-danger btn-sm close-alert" data-bs-dismiss="alert" arial-label="Close">X</button>
        @TempData["MensagemErro"]
    </div>
}

<div class="login-container">
    <div class="login-card">
        <h2 class="login-title">Bem-vindo</h2>
        <form asp-controller="Login" asp-action="Entrar" method="post">
            <div class="form-group">
                <label for="login" class="form-label">Login</label>
                <input type="text" asp-for="Login" class="form-control" id="login" name="login" placeholder="Digite seu login" required>
                @Html.ValidationMessageFor(x => x.Login )
            </div>
            <div class="form-group">
                <label for="senha" class="form-label">Senha</label>
                <input type="password" asp-for="Senha" class="form-control" id="senha" name="senha" placeholder="Digite sua senha" required>
                @Html.ValidationMessageFor(x => x.Senha)
            </div>
            <div class="form-options">              
                <a href="#" data-bs-toggle="modal" data-bs-target="#recoverPasswordModal">Esqueceu a senha?</a>
            </div>
            <button type="submit" class="btn btn-primary">Entrar</button>
        </form>
    </div>
</div>

<!-- Modal para recuperação de senha -->
<div class="modal fade" id="recoverPasswordModal" tabindex="-1" aria-labelledby="recoverPasswordModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="recoverPasswordModalLabel">Recuperar Senha</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <form method="post" action="/Login/RecoverPassword">
                    <div class="form-group">
                        <label for="email" class="form-label text-dark">Digite seu e-mail</label>
                        <input type="email" class="form-control" id="email" name="email" placeholder="Digite seu e-mail" required>
                    </div>
                    <br />
                    <button type="submit" class="btn btn-secondary">Enviar</button>
                </form>
            </div>
        </div>
    </div>
</div>